@model Evento.Web.Models.Memorizes.MemorizeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container">
    <form  method="post" enctype="multipart/form-data">
        <div class="title-post">
            <input placeholder="@Localizer["In a few words describe your event"]" asp-for="Title" id="title" class="mem-title" />
        </div>
        <div class="photos">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    
                </ol>
                <div class="carousel-inner">

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div>
            <label id="profile-image">
                <input type="file" class="loader" name="loader" onchange="snapshoot(this)" hidden multiple/>
                <small>
                    <i class="fa fa-camera" id="camera" caria-hidden="true"></i>
                </small>
            </label>
        </div>
        <div class="comment">
            <textarea asp-for="MemorizeComment" placeholder="@Localizer["Here you can describe your feelings..."]" class="mem-comment" id="comment"></textarea>
        </div>
        <input type="submit" onclick="post()" value="Comfirm" />
    </form>
</div>
@section Scripts {
    <script src="~/js/others/imgloaderjs.js"></script>
    <script src="~/js/ajax/memorizes/ajax_memorize.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
