@model Evento.Web.Models.Memorizes.MemorizeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link rel="stylesheet" href="~/css/Memorizes.css" />
<div class="container">
    <form method="post" enctype="multipart/form-data" onsubmit="validation()">
        <div class="title-post">
            <input placeholder="@Localizer["In a few words describe your event"]" asp-for="Title" id="title" class="mem-title" />
        </div>
        <div class="card photos">
            <div id="slider" class="row">
                <button class="prev" id="button-slider" onclick="prev()"><i class="fa fa-chevron-left"></i></button>
                <img src="~/css/icons/placeholder.png" id="upload-photo" class="card-img-top img-thumbnail" alt="...">
                <button class="next" id="button-slider" onclick="next()"><i class="fa fa-chevron-right"></i></button>
            </div>

        </div>
        <div>
            <label id="profile-image">
                <input type="file" class="loader" id="photoholder" name="loader" onchange="snapshoot(this)" hidden multiple />
                <small>
                    <i class="fa fa-camera" id="camera" caria-hidden="true"></i>
                </small>
            </label>
        </div>
        <div class="comment">
            <textarea asp-for="MemorizeComment" placeholder="@Localizer["Here you can describe your feelings..."]" class="mem-comment" id="comment"></textarea>
        </div>
        <input type="submit" onclick="post()" value="Comfirm" />
    </form>
</div>
@section Scripts {
    <script src="~/js/others/imgloaderjs.js"></script>
    <script src="~/js/validation/memorizes/memorize.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/others/slider.js"></script>

}
