#map {
width:20px;
}
/* Optional: Makes the sample page fill the window. */


#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#floating-panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#latlng {
    width: 225px;
}
.iconBtn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}
#createProjectBtn {
    margin-top: 20px;
    background: #D5E3F7;
    color: #3C7DD7;
    height: min-content;
    width: max-content;
    position: relative;
}