
<div class="background"></div>
<div class="background-texture"></div>
<header class="header">
    <div class="left-content">
        <p class="stay-home">Stay Home!!</p>
        <h1>Be a good party-goer</h1>
        <p></p>
        <p class="para">
            I wanna stay home today
            Don't wanna go out

        </p>
        <button>Online Events</button>
    </div>
    <svg width="60vw" height="90vh" viewBox="0 0 728 914" fill="none" xmlns="http://www.w3.org/2000/svg">


        <div class="mainhuman">
            <div class="human">
                <div class="human__hair-b"></div>
                <div class="human__head">
                    <div class="human__face">
                        <div class="human__hair-c">
                            <div class="human__hair"></div>
                        </div>
                        <div class="human__nose"></div>
                        <div class="human__eye-l"></div>
                        <div class="human__eye-r"></div>
                        <div class="human__cheeks-l"></div>
                        <div class="human__cheeks-r"></div>
                        <div class="human__mouth"></div>
                        <div class="human__eyebrow-l"></div>
                        <div class="human__eyebrow-r"></div>
                    </div>
                </div>
                <div class="human__ears">
                    <div class="human__ear-l"></div>
                    <div class="human__ear-r"></div>
                </div>
                <div class="human__arm-l"></div>
                <div class="human__arm-r"></div>
                <div class="human__body-c">
                    <div class="human__body"></div>
                </div>
                <div class="human__legs">
                    <div class="human__leg-l"></div>
                    <div class="human__leg-r"></div>
                </div>
                <div class="human__shoes">
                    <div class="human__shoe-c">
                        <div class="human__shoe-l"></div>
                    </div>
                    <div class="human__shoe-c">
                        <div class="human__shoe-r"></div>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="table__top">
                    <div class="laptop"></div>
                    <div class="cup"></div>
                </div>
                <div class="table__bottom"></div>
                <div class="table__legs">
                    <div class="table__leg"></div>
                    <div class="table__leg"></div>
                    <div class="table__leg"></div>
                    <div class="table__leg"></div>
                </div>
            </div>
            <div class="chair">
                <div class="chair__top"></div>
                <div class="chair__line"></div>
                <div class="chair__base"></div>
                <div class="chair__wheels">
                    <div class="chair__wheel"></div>
                    <div class="chair__wheel"></div>
                </div>
            </div>
            <div class="trashcan"></div>
            <div class="window">
                <div class="window__container">
                    <div class="building">
                        <div class="building__window building__window--active building__window-on-1"></div>
                        <div class="building__window building__window--active building__window-on-2"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active building__window-on-3"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                    </div>
                    <div class="building">
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active building__window-on-4"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active building__window-on-3"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                    </div>
                    <div class="building">
                        <div class="building__window-f"></div>
                        <div class="building__window-f building__window--active building__window-on-1"></div>
                        <div class="building__window-f building__window--active"></div>
                        <div class="building__window-f"></div>
                        <div class="building__window-f"></div>
                        <div class="building__window-f"></div>
                        <div class="building__window-f building__window--active"></div>
                        <div class="building__window-f"></div>
                        <div class="building__window-f"></div>
                        <div class="building__window-f building__window--active building__window-on-2"></div>
                        <div class="building__window-f building__window--active"></div>
                        <div class="building__window-f"></div>
                        <div class="building__window-f building__window--active"></div>
                        <div class="building__window-f"></div>
                    </div>
                    <div class="building">
                        <div class="building__window"></div>
                        <div class="building__window building__window--active building__window-on-1"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active building__window-on-4"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window building__window--active"></div>
                        <div class="building__window"></div>
                        <div class="building__window"></div>
                    </div>
                </div>
            </div>
            <div class="lamp">
                <div class="lamp__top">
                    <div class="lamp__light"></div>
                </div>
                <div class="lamp__base-c">
                    <div class="lamp__base"></div>
                </div>
            </div>
            <div class="bricks">
                <div class="brick"></div>
                <div class="brick"></div>
            </div>
        </div>



        <defs>
            <filter id="filter0_b" x="-4" y="-4" width="736" height="922" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feGaussianBlur in="BackgroundImage" stdDeviation="2" />
                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape" />
            </filter>
            <radialGradient id="paint0_angular" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(364 457) rotate(90) scale(457 364)">
                <stop stop-color="#8693E6" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </radialGradient>
        </defs>
    </svg>
</header>



<div class="container">

    <main class="main">
        <section class="recipe">
            <h2 class="recipe__title">Actual Events</h2>
            <div class="palette-container">
                @*@foreach (var item in Model)
                    {
                        @foreach (var category in item.Category.Title)
                        {
                            <div class="palette-item"> <span class="palette-item__bg" style="background-color:#eaeaea"> </span><span class="palette-item__name">@category</span></div>
                        }
                    }*@

            </div>
            <div class="recipe-list">
                <div class="recipe-scroll">
                    @*@foreach (var item in Model)
                    {
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><a href="Event?@item.Id"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/recipes-5.jpg?raw=true" alt="Foto de receta"></a></div><span class="recipe-item__name">@item.Title</span>
                            <div class="palette"><span class="palette__color" style="background-color:#aed9b7"></span><span class="palette__color" style="background-color:#f98667"></span><span class="palette__color" style="background-color:#97d1ec"></span></div>
                        </article>
                    }*@

                </div>
            </div><a class="recipe__button button" href="~/Views/Events/Index">All events</a>
        </section>
        @*<section class="news">
                <article class="news__item">
                    <img class="news__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/news-1.jpg?raw=true" alt="Imagen de news"><span class="news__date">&#183; 07/05/2019</span>
                    <h2 class="news__title">Zu Gast in der Brauküche 35</h2>
                    <p class="news__description">Die Neugier auf Bier ist groß. Und in Schalladorf hat sich was ganz Neues zusammengebraut.</p><a class="news__button button" href="#">Zur Story        </a>
                </article>
                <article class="news__item">
                    <img class="news__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/news-2.jpg?raw=true" alt="Imagen de news"><span class="news__date">&#183; 10/05/2018</span>
                    <h2 class="news__title">Sonja Priller</h2>
                    <p class="news__description">Food-Fotografin, Ästhetin, Denkerin, Hobby-Winzerin & unverzichtbares Mitglied des feinkoch-Teams</p><a class="news__button button" href="#">Zur Story</a>
                </article>
            </section>
            <section class="recipe">
                <h2 class="recipe__title">Schnelle Küche</h2>
                <div class="palette-container">
                    <div class="palette-item"> <span class="palette-item__bg" style="background-color:#ffea5e"> </span><span class="palette-item__name">Sommer</span></div>
                    <div class="palette-item"><span class="palette-item__bg" style="background-color:#f98667"> </span><span class="palette-item__name">Schnelle Küche</span></div>
                    <div class="palette-item"><span class="palette-item__bg" style="background-color:#eaeaea"> </span><span class="palette-item__name">Laktosefrei</span></div>
                    <div class="palette-item"><span class="palette-item__bg" style="background-color:#c2ced2"> </span><span class="palette-item__name">Gesund</span></div>
                    <div class="palette-item"><span class="palette-item__bg" style="background-color:#aed9b7"> </span><span class="palette-item__name">Frühling</span></div>
                </div>
                <div class="recipe-list">
                    <div class="recipe-scroll">
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/recipes-5.jpg?raw=true" alt="Foto de receta"></div><span class="recipe-item__name">Kimchi Pancake mit Bonitoflocken</span>
                            <div class="palette"><span class="palette__color" style="background-color:#aed9b7"></span><span class="palette__color" style="background-color:#f98667"></span><span class="palette__color" style="background-color:#97d1ec"></span></div>
                        </article>
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/recipes-6.jpg?raw=true" alt="Foto de receta"></div><span class="recipe-item__name">Bibimbap mit Sushireis, Shiitake und Gochujang-Sauce</span>
                            <div class="palette"><span class="palette__color" style="background-color:#aed9b7"></span><span class="palette__color" style="background-color:#c2ced2"></span><span class="palette__color" style="background-color:#ecc590"></span></div>
                        </article>
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/recipes-7.jpg?raw=true" alt="Foto de receta"></div><span class="recipe-item__name">Crispy Duck mit Miso-Pflaumen-Sauce</span>
                            <div class="palette"><span class="palette__color" style="background-color:#ecc590"></span><span class="palette__color" style="background-color:#e18181"></span><span class="palette__color" style="background-color:#51b1fb"></span></div>
                        </article>
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/recipes-8.jpg?raw=true" alt="Foto de receta"></div><span class="recipe-item__name">Mayonnaise by Mochi</span>
                            <div class="palette"><span class="palette__color" style="background-color:#ffea5e"></span><span class="palette__color" style="background-color:#24b184"></span><span class="palette__color" style="background-color:#ecb266"></span></div>
                        </article>
                    </div>
                </div><a class="recipe__button button" href="#">Alle Rezepte</a>
            </section>
            <section class="recipe">
                <h2 class="recipe__title">Dessert Rezepte</h2>
                <div class="palette-container">
                    <div class="palette-item"> <span class="palette-item__bg" style="background-color:#f6bfba"> </span><span class="palette-item__name">Süß</span></div>
                    <div class="palette-item"><span class="palette-item__bg" style="background-color:#b783b3"> </span><span class="palette-item__name">Party</span></div>
                    <div class="palette-item"><span class="palette-item__bg" style="background-color:#ffea5e"> </span><span class="palette-item__name">Sommer</span></div>
                    <div class="palette-item"><span class="palette-item__bg" style="background-color:#e18181"> </span><span class="palette-item__name">Obst</span></div>
                    <div class="palette-item"><span class="palette-item__bg" style="background-color:#aed9b7"> </span><span class="palette-item__name">Süßspeise</span></div>
                </div>
                <div class="recipe-list">
                    <div class="recipe-scroll">
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/dessert-1.jpg?raw=true" alt="Foto de receta"></div><span class="recipe-item__name">Vanille-Spargel, Bier-Granita &amp; Mandel-Crumble an Vanille-Eis</span>
                            <div class="palette"><span class="palette__color" style="background-color:#FFA4A0"></span><span class="palette__color" style="background-color:#00B286"></span><span class="palette__color" style="background-color:#82C6D5"></span></div>
                        </article>
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/dessert-2.jpg?raw=true" alt="Foto de receta"></div><span class="recipe-item__name">Bibimbap mit Sushireis, Shiitake und Gochujang-Sauce</span>
                            <div class="palette"><span class="palette__color" style="background-color:#FF826B"></span><span class="palette__color" style="background-color:#82C6D5"></span><span class="palette__color" style="background-color:#EE7E82"></span></div>
                        </article>
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/dessert-3.jpg?raw=true" alt="Foto de receta"></div><span class="recipe-item__name">Crispy Duck mit Miso-Pflaumen-Sauce</span>
                            <div class="palette"><span class="palette__color" style="background-color:#aed9b7"></span><span class="palette__color" style="background-color:#f6bfba"></span><span class="palette__color" style="background-color:#f6bfba"></span></div>
                        </article>
                        <article class="recipe-item">
                            <div class="recipe-item__bg"><img class="recipe-item__img" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/dessert-4.jpg?raw=true" alt="Foto de receta"></div><span class="recipe-item__name">Mayonnaise by Mochi</span>
                            <div class="palette"><span class="palette__color" style="background-color:#ffea5e"></span><span class="palette__color" style="background-color:#847659"></span><span class="palette__color" style="background-color:#847659"></span></div>
                        </article>
                    </div>
                </div><a class="recipe__button button" href="#">Alle Rezepte    </a>
            </section>*@
        <section class="newsletter">
            <div class="newsletter__item newsletter__item--100"><img class="newsletter__icon icon-n" src="https://github.com/ricardoolivaalonso/Feinkoch/blob/master/public/img/newsletter-1.png?raw=true" alt="icono de newsletter"><a class="newsletter__link" href="#">“Make your life the best adventure!”</a></div>

            <div class="newsletter__form">
                <img class="newsletter__icon icon-n" src="https://www.freepnglogos.com/uploads/email-logo-png-27.png" />
                <input class="newsletter__input" type="text" placeholder="Put your email to contact us">
                <button class="newsletter__button" type="submit">Connect with us</button>
            </div>
            <div class="newsletter__item">
                <img class="newsletter__icon icon-n" src="https://pngimage.net/wp-content/uploads/2018/05/event-icon-png-9.png" />
                <p class="newsletter__description">“There is a lot of adventures out there, waiting for us to live them!”</p>
                <button class="newsletter__button" type="submit">Find event</button>
            </div>

        </section>
    </main>


</div>
